<div class="container" id="metssrics">

    <div class="row">
        <div class="col-md-11">

            <section>
                <p class="lead">
                    This dashboard was developed and is maintained by the Drexel Urban Health Collaborative in partnership with the Big Cities Health Coalition, with support from the Robert Wood Johnson Foundation and the De Beaumont Foundation.
                </p>
                <hr>
                <h3 class="text-uppercase">The Drexel Urban Health Collaborative:</h3>
                <p class="lead">
                    The mission of the
                    <a href="https://drexel.edu/uhc/" target = "_blank">Drexel Urban Health Collaborative (UHC)</a>
                    at the Dornsife School of Public Health is to improve health in cities by increasing scientific knowledge and public awareness of urban health challenges and opportunities, and by identifying and promoting actions and policies that improve population health and reduce health inequities. Through three areas of emphasis, research and data, training, and community and policy engagement, the UHC works to advance knowledge, build capacity, and translate knowledge into community and policy actions to improve urban health in Philadelphia and in cities all over the world.
                </p>
                <h3 class="text-uppercase">The Big Cities Health Coalition:</h3>
                <p class="lead">
                    The 
                    <a href="http://www.bigcitieshealth.org" target = "_blank">Big Cities Health Coalition (BCHC)</a>
                    is a forum for the leaders of America's largest metropolitan health departments to exchange strategies and jointly address issues to promote and protect the health and safety of their residents. Collectively, BCHC member jurisdictions directly impact nearly 62 million people, or one in five Americans.
                </p>
                <h3 class="text-uppercase">The Robert Wood Johnson Foundation:</h3>
                <p class="lead">
                    The Robert Wood Johnson Foundation (RWJF), located in Princeton, N.J., is the largest philanthropy in America dedicated solely to health. Since 1972, we have been providing funding, assistance, and research for projects and programs to help people, their families, and their communities be as healthy as possible. RWJF is committed to working alongside others to build a 
                    <a href="https://www.rwjf.org/content/rwjf/en/how-we-work/building-a-culture-of-health.html" target = "_blank">Culture of Health</a>
                    that provides everyone in America a fair and just opportunity for health and well-being.             
                </p>
                <h3 class="text-uppercase">De Beaumont Foundation:</h3>
                <p class="lead">
                    The 
                    <a href="https://www.debeaumont.org" target = "_blank">de Beaumont Foundation</a>
                    advances policy, builds partnerships, and strengthens public health to create communities where people can achieve their best possible health. The Foundation's programs and investments strengthen the public health system, facilitate collaboration, and provide practical tools to improve the health of all Americans.                    
                </p>


            </section>

        </div>

      

    </div>
    <!-- /.row -->
</div>
