<footer id="footer">
    <div class="container">

        <hr/>

        <div class="">
            <h3>About this Project</h4>
            <div style  = "font-size: 17px;">
                The Big Cities Health Coalition (BCHC) is a forum for the leaders of America’s largest metropolitan health departments to exchange strategies and jointly address issues to promote and protect the health and safety of the nearly 62 million people they serve. The COVID-19 Health Inequities in Cities Project is led by the Urban Health Collaborative at the Drexel Dornsife School of Public Health and supported by the Robert Wood Johnson Foundation. 
            </div>


            <br/><br/><br/>  
            <img src="{{ .Site.Params.foot_logo_bchc | relURL }}" width="100px" height="100px" style="float: right;"/>
            <img src="{{ .Site.Params.foot_logo_uhc | relURL }}" width="300px" height="100px" style="float: right;"/>
           

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
      

       
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6">

          <h4>{{ i18n "contactTitle" }}</h4>

            {{ .Site.Params.address | safeHTML }}

            <a href="/contact" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
