<div class="container" id="indicators">

    <div class="row">
        <div class="col-md-11">

            <section>
                <p class="lead">This section reviews the definitions and sources of the indicators used to describe health inequities in this platform. Some capture fundamental drivers of inequities (such as individual-level race ethnicity, neighborhood poverty, and city segregation) and others may capture the specific mechanisms through which fundamental causes affect inequities (e.g. overcrowding or insurance coverage). </p>
                <h3 class="text-uppercase">Population Level Indicators</h3>
                <div class = 'lead'>Source: Cases, tests and deaths are reported from cities. Please see the “Data” page in the dashboard sidebar for more details.</div>
                <div style = "font-size: 18px; ">
                    <table class = "table-rl" >
                        <tbody>
                        <tr style = "border: 2px solid black; ">
                            <td width="225" style = "border: 2px solid black; ">
                            <strong>&nbspIndicator</strong>
                            </td>
                            <td width="600" style = "border: 2px solid black; ">
                            <strong>&nbspSummary</strong>
                            </td>
                            </tr>
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbspNH White
                            </td>
                            <td width="700" style = "border: 2px solid black; ">
                                &nbspPopulation that self-identified as non-Hispanic White.
                            </td>
                            </tr>   
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbspNH Black
                            </td>
                            <td width="600" style = "border: 2px solid black; ">
                                &nbspPopulation that self-identified as non-Hispanic Black.
                            </td>
                            </tr>   
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbspHispanic
                            </td>
                            <td width="600" style = "border: 2px solid black; ">
                                &nbspPopulation that self-identified as Hispanic.
                            </td>
                            </tr>   
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbspNH White
                            </td>
                            <td width="600" style = "border: 2px solid black; ">
                                &nbspPopulation that self-identified as non-Hispanic Asian/Pacific Islander.
                            </td>
                            </tr>   
                            
                        </tbody>
                        </table>
                </div>
                <br>
                <div class = "lead">We acknowledge that some categories are missing, including (and especially relevant for COVID-19) Native Americans or American Indians/Alaskan Natives. We tried to use categories that were consistent across cities, but we will explore broadening these categories in the future as more data becomes available.</div>
                <hr>
                <h3 class="text-uppercase">Neighborhood Level Indicators</h3>
                <div class = 'lead'>Neighborhoods are proxied by zip codes as indicated in the Neighborhood Level Inequities introduction text. </div>
                <div class = 'lead'>Source: All data is derived from U.S. Census Bureau (2018). American Community Survey (ACS) 5-Year Estimates retrieved from: https://www.census.gov/programs-surveys/acs/data.html  </div>

                <div style = "font-size: 18px; font-weight: normal ;">
                <div style = "font-size: 21px; padding-bottom: 5px; font-weight: 600;">Demographic</div>
                <table class = "table-rl" >
                    <tbody>
                    <tr style = "border: 2px solid black; ">
                        <td width="225" style = "border: 2px solid black; ">
                        <strong>&nbspEquity Measure</strong>
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                        <strong>&nbspSummary</strong>
                        </td>
                        </tr>
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% Hispanic
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as Hispanic.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% NH White
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as non-Hispanic White.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% NH Black 
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as non-Hispanic Black.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% NH Asian/PI
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as non-Hispanic Asian/Pacific Islander.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% Foreign Born
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of persons that are foreign born.
                        </td>
                        </tr>   
                    </tbody>
                    </table>

                <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Income, Wealth, & Poverty</div>
                <table class = "table-rl" >
                    <tbody>
                    <tr style = "border: 2px solid black; ">
                        <td width="225" style = "border: 2px solid black; ">
                        <strong>&nbspEquity Indicators</strong>
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                        <strong>&nbspSummary</strong>
                        </td>
                        </tr>
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbspMedian HH Income
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                            &nbspMedian household income.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% Poverty
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            <div style="padding-left: 4px;">Percentage of population whose income has dropped below the poverty level in the past 12 months.</div>
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbspMedian House Value
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            <div style="padding-left: 4px;">The median value of how much the property (house and lot) would sell for if it were for sale.</div>
                        </td>
                        </tr>   
                    </tbody>
                    </table>

                    <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Education</div>
                    <table class = "table-rl" >
                        <tbody>
                        <tr style = "border: 2px solid black; ">
                            <td width="225" style = "border: 2px solid black; ">
                            <strong>&nbspEquity Indicators</strong>
                            </td>
                            <td width="700" style = "border: 2px solid black; ">
                            <strong>&nbspSummary</strong>
                            </td>
                            </tr>
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbsp% Complete College
                            </td>
                            <td width="700" style = "border: 2px solid black; ">
                                <div style="padding-left: 4px;">Percent of population that completed college. The percentages are obtained by dividing the counts of college graduates by the total number of persons 25 years old and over.</div>
                            </td>
                            </tr>   
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbsp% Complete High School
                            </td>
                            <td width="700" style = "border: 2px solid black; ">
                                <div style="padding-left: 4px;">Percent of population that completed high school. The percentages are obtained by dividing the counts of high school graduates by the total number of persons 25 years old and over.</div>
                            </td>
                            </tr>   
                        
                        </tbody>
                        </table>

                        <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Occupation</div>
                        <table class = "table-rl" >
                            <tbody>
                            <tr style = "border: 2px solid black; ">
                                <td width="225" style = "border: 2px solid black; ">
                                <strong>&nbspEquity Indicators</strong>
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                <strong>&nbspSummary</strong>
                                </td>
                                </tr>
                             <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbsp% Healthcare Workers
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">Percentage of the population age 16+ that work in healthcare (Healthcare Practitioners, Technical Occupations, and Healthcare Support Occupations). </div>
                                </td>
                                </tr>   
                             <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbsp% Service Workers
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">Percentage of the population age 16+ that work as service workers (Food Preparation, Serving-related Occupations, Personal Care and Service Occupations).</div>
                                </td>
                                </tr>   
                            <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbsp% Production Workers
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">Percentage of the population age 16+ that works as production workers (Production Occupation).</div>
                                     
                                </td>
                                </tr>   
                            </tbody>
                            </table>

                            <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Segregation</div>
                            <table class = "table-rl" >
                                <tbody>
                                <tr style = "border: 2px solid black; ">
                                    <td width="225" style = "border: 2px solid black; ">
                                    <strong>&nbspEquity Indicators</strong>
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                    <strong>&nbspSummary</strong>
                                    </td>
                                    </tr>
                                 <tr style = "border: 2px solid black; ">
                                    <td width="200" style = "border: 2px solid black; ">
                                        <p style="padding-left: 4px;">ICE - Income</p>
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                        <p style="padding-left: 4px;">The Index of Concentration at the extremes (ICE) captures the concentration of extremes of privilege and deprivation in a single metric. A value of 1 indicates that all residents in the area are in the privileged group and a value of -1 denotes that all residents are in the most deprived group. Privilege and deprivation can be defined in different ways.  For the ICE-income privilege is defined as annual household (HH) income > 80th percentile ($100,000) in the American Community Survey (ACS). Deprivation is defined as HH income <20th percentile ($25,000).</p>
                                         <p>Citation: Krieger, Nancy, et al. "Public health monitoring of privilege and deprivation with the index of concentration at the extremes." American journal of public health 106.2 (2016): 256-263. </p>
                                    </td>
                                    </tr>   
                                 <tr style = "border: 2px solid black; ">
                                    <td width="200" style = "border: 2px solid black; ">
                                        &nbspICE - NH Black
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                        <div style="padding-left: 4px;">The Index of Concentration (ICE) for NH-Black defines the most privileged group as non-Hispanic White and the least privileged  as non-Hispanic Black.  </div>
                                    </td>
                                    </tr>   
                                <tr style = "border: 2px solid black; ">
                                    <td width="200" style = "border: 2px solid black; ">
                                        &nbspICE - Hispanic
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                        <div style="padding-left: 4px;">The Index of Concentration (ICE) for Hispanic defines the most privileged group as non-Hispanic White and the least privileged  as Hispanic.</div>                           
                                    </td>
                                    </tr>   
                                <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            &nbspICE - Income + NH Black
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">The Index of Concentration (ICE) for Income + NH Black defines the most privileged group as non-Hispanic White with income >$100,000 and the least privileged  as NH Black with income <$25,000.</div>                           
                                        </td>
                                        </tr> 
                                <tr style = "border: 2px solid black; ">
                                    <td width="200" style = "border: 2px solid black; ">
                                        &nbspICE - Hispanic
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                        <div style="padding-left: 4px;">Index of Concentration (ICE) for income and race/ethnicity combined, the extreme groups were non-Hispanic white persons whose HH income was greater than or equal to the 80th income percentile or $100,000 (most privileged) versus minority persons in households below the 20th income percentile or $25,000 (least privileged). Denominator is the total population with known income.  </div>                           
                                    </td>
                                    </tr> 
                                </tbody>
                                </table>

                            <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Transportation</div>
                            <table class = "table-rl" >
                                <tbody>
                                <tr style = "border: 2px solid black; ">
                                    <td width="225" style = "border: 2px solid black; ">
                                    <strong>&nbspEquity Indicators</strong>
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                    <strong>&nbspSummary</strong>
                                    </td>
                                    </tr>
                                <tr style = "border: 2px solid black; ">
                                    <td width="200" style = "border: 2px solid black; ">
                                        &nbsp% Using Public Transit
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                        <div style="padding-left: 4px;">Percentage of population that uses public transport (excluding taxi) to travel to work.</div>                           
                                    </td>
                                    </tr> 
                                </tbody>
                                </table>

                                <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Housing</div>
                                <table class = "table-rl" >
                                    <tbody>
                                    <tr style = "border: 2px solid black; ">
                                        <td width="225" style = "border: 2px solid black; ">
                                        <strong>&nbspEquity Indicators</strong>
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                        <strong>&nbspSummary</strong>
                                        </td>
                                        </tr>
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            &nbsp% Overcrowding > 1
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">Percentage of people living in housing units with greater than 1 occupants per room.</div>                           
                                        </td>
                                        </tr> 
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">% Housing With complete Plumbing</div>
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">Percentage of all housing units that have complete plumbing facilities.</div>                           
                                        </td>
                                        </tr> 
                                    </tbody>
                                    </table>
                                <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Health Insurance Coverage</div>
                                <table class = "table-rl" >
                                    <tbody>
                                    <tr style = "border: 2px solid black; ">
                                        <td width="225" style = "border: 2px solid black; ">
                                        <strong>&nbspEquity Indicators</strong>
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                        <strong>&nbspSummary</strong>
                                        </td>
                                        </tr>
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            &nbsp% Not Insured
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">Percentage of population that is uninsured.</div>                           
                                        </td>
                                        </tr> 
                                    </tbody>
                                    </table>
                                <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Vulnerability</div>
                                <table class = "table-rl" >
                                    <tbody>
                                    <tr style = "border: 2px solid black; ">
                                        <td width="225" style = "border: 2px solid black; ">
                                        <strong>&nbspEquity Indicators</strong>
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                        <strong>&nbspSummary</strong>
                                        </td>
                                        </tr>
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">Social Vulnerability Index (SVI)</div>                           
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">The Social Vulnerability Index (SVI) draws together 15 different measures of vulnerability using four themes: Socioeconomic Status, Household Composition & Disability, Minority Status & Language, Housing Type & Transportation. Each neighborhood is ranked, and a percentile is assigned, with higher values indicating greater vulnerability. </div>                           
                                        </td>
                                        </tr> 
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI – Socioeconomic Status</div>                           
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI score, specific to the theme of Socioeconomic Status.</div>                           
                                        </td>
                                        </tr>                                     
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI – Household Composition & Disability</div>                           
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI score, specific to the theme of Household Composition & Disability.</div>                           
                                        </td>
                                        </tr>   
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI – Minority Status & Language</div>                           
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI score, specific to the theme of Minority Status & Language.</div>                           
                                        </td>
                                        </tr>   
                                    <tr style = "border: 2px solid black; ">
                                        <td width="200" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI – Housing Type & Transportation</div>                           
                                        </td>
                                        <td width="700" style = "border: 2px solid black; ">
                                            <div style="padding-left: 4px;">SVI score, specific to the theme of Housing Type & Transportation.</div>                           
                                        </td>
                                        </tr>   

                                    </tbody>
                                    </table>  
                                    <hr>
                <h3 class="text-uppercase">City Level Indicators</h3>
                <div class = 'lead'>Cities are defined as counties, collections of counties, or census-defined places depending on the city.</div>
                <div class = 'lead'>Source: All data is derived from U.S. Census Bureau (2018). American Community Survey (ACS) 5-Year Estimates retrieved from: https://www.census.gov/programs-surveys/acs/data.html  </div>
                                
                <div style = "font-size: 21px; padding-bottom: 5px; font-weight: 600;">Demographic</div>
                <table class = "table-rl" >
                    <tbody>
                    <tr style = "border: 2px solid black; ">
                        <td width="225" style = "border: 2px solid black; ">
                        <strong>&nbspEquity Measure</strong>
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                        <strong>&nbspSummary</strong>
                        </td>
                        </tr>
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbspPopulation size
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                            &nbspCount of persons in the population.
                        </td>
                        </tr>   
                      <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbspPopulation Density
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                            &nbspNumber of persons in a population per square kilometer (# persons/km<sup>2</sup>).
                        </td>
                        </tr>                          
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% Hispanic
                        </td>
                        <td width="700" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as Hispanic.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% NH White
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as non-Hispanic White.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% NH Black 
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as non-Hispanic Black.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% NH Asian/PI
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of population that self-identified as non-Hispanic Asian/Pacific Islander.
                        </td>
                        </tr>   
                     <tr style = "border: 2px solid black; ">
                        <td width="200" style = "border: 2px solid black; ">
                            &nbsp% Foreign Born
                        </td>
                        <td width="600" style = "border: 2px solid black; ">
                            &nbspPercentage of persons that are foreign born.
                        </td>
                        </tr>   
                    </tbody>
                    </table>


                    <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Income, Wealth, & Poverty</div>
                    <table class = "table-rl" >
                        <tbody>
                        <tr style = "border: 2px solid black; ">
                            <td width="225" style = "border: 2px solid black; ">
                            <strong>&nbspEquity Indicators</strong>
                            </td>
                            <td width="700" style = "border: 2px solid black; ">
                            <strong>&nbspSummary</strong>
                            </td>
                            </tr>
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbsp% Poverty
                            </td>
                            <td width="600" style = "border: 2px solid black; ">
                                <div style="padding-left: 4px;">Percentage of population whose income has dropped below the poverty level in the past 12 months.</div>
                            </td>
                            </tr>   
                         <tr style = "border: 2px solid black; ">
                            <td width="200" style = "border: 2px solid black; ">
                                &nbspGINI
                            </td>
                            <td width="600" style = "border: 2px solid black; ">
                                <div style="padding-left: 4px;">Gini Index of Income Inequality is a measure of income inequality that summarizes the dispersion of income across the entire income distribution. The Gini coefficient ranges from 0-1. Where a Gini coefficient of 0 indicates perfect equality (everyone receives an equal share of the income) and 1 indicates perfect inequality (one group receives all of the income).</div>
                            </td>
                            </tr>   
                        </tbody>
                        </table>


                        <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Occupation</div>
                        <table class = "table-rl" >
                            <tbody>
                            <tr style = "border: 2px solid black; ">
                                <td width="225" style = "border: 2px solid black; ">
                                <strong>&nbspEquity Indicators</strong>
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                <strong>&nbspSummary</strong>
                                </td>
                                </tr>
                             <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbsp% Service Workers
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">Percentage of the population age 16+ that work as service workers (Food Preparation, Serving-related Occupations, Personal Care and Service Occupations).</div>
                                </td>
                                </tr>   
                            <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbsp% Production Workers
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">Percentage of the population age 16+ that works as production workers (Production Occupation).</div>
                                     
                                </td>
                                </tr>   
                            </tbody>
                            </table>
                        <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Segregation</div>
                        <table class = "table-rl" >
                            <tbody>
                            <tr style = "border: 2px solid black; ">
                                <td width="225" style = "border: 2px solid black; ">
                                <strong>&nbspEquity Indicators</strong>
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                <strong>&nbspSummary</strong>
                                </td>
                                </tr>
                             <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">Dissimilarity: Hispanic and NH-White.</div>
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">The dissimilarity Index measures the fraction of one group that would have to move to another area, in order to equalize the population distribution. The index ranges between 0 and 1, with 0 being full integration and 1 being full segregation. Typically values over 0.5 are considered to be very high levels of segregation. We used tract level population estimates of NH-Whites and Hispanics to calculate this index.</div>
                                </td>
                                </tr>   
                            <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbspIsolation: Hispanic
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">The isolation index is a probability that ranges between 0 and 1. Higher values (closer to 1), indicate more isolation of the group, while values near 0 indicate less isolation. We used tract level estimates of the Hispanic population to calculate this index.</div>
                                     
                                </td>
                                </tr>   
                            <tr style = "border: 2px solid black; ">
                                <td width="200" style = "border: 2px solid black; ">
                                    &nbspIsolation: NH-Black
                                </td>
                                <td width="700" style = "border: 2px solid black; ">
                                    <div style="padding-left: 4px;">The isolation index is a probability that ranges between 0 and 1. Higher values (closer to 1), indicate more isolation of the group, while values near 0 indicate less isolation. We used tract level estimates of the non-Hispanic Black population to calculate this index.</div>
                                     
                                </td>
                                </tr>   
                            </tbody>
                            </table>
                            <div style = "font-size: 22px; padding-bottom: 5px;padding-top: 20px; font-weight: 600;">Housing</div>
                            <table class = "table-rl" >
                                <tbody>
                                <tr style = "border: 2px solid black; ">
                                    <td width="225" style = "border: 2px solid black; ">
                                    <strong>&nbspEquity Indicators</strong>
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                    <strong>&nbspSummary</strong>
                                    </td>
                                    </tr>
                                 <tr style = "border: 2px solid black; ">
                                    <td width="200" style = "border: 2px solid black; ">
                                        <div style="padding-left: 4px;">% Overcrowding </div>
                                    </td>
                                    <td width="700" style = "border: 2px solid black; ">
                                        <div style="padding-left: 4px;">Percentage of people living in housing units with greater than 1 occupants per room.</div>
                                    </td>
                                    </tr>   
                                </tbody>
                                </table>



                                </div>
             



            </section>

        </div>

      

    </div>
    <!-- /.row -->
</div>
