<div class="container" id="metssrics">

    <div class="row">
        <div class="col-md-11">

            <section>
                <h3 class="text-uppercase">Measuring Disparities: Relative and Absolute Differences</h3>
             
                <p class="lead">
                    The COVID-19 epidemic has amplified health inequities, calling attention to
                    racial and socioeconomic disparities in COVID-19 cases, hospitalizations,
                    and deaths. At a national level there is a large racial disparity: rates of
                    COVID-19 are more than
                    <a href="https://www.apmresearchlab.org/covid/deaths-by-race"  target="_blank">
                        two times higher
                    </a>
                    among non-Hispanic Black than non-Hispanic white Americans. In this blog
                    post we describe two common ways to measure health disparities, rate ratios
                    and rate differences. We discuss how to calculate these measures, and how
                    different analysis choices impact our understanding of disparities.
                    <br/><br/>
                    We limit our discussion to rate ratios and rate differences, two measures
                of between group disparities, but refer readers to    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3681823/"  target="_blank"> here</a>,
                    <a href="https://seer.cancer.gov/archive/publications/disparities/measuring_disparities.pdf" target="_blank">
                        here
                    </a>
                and    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4481045/" target="_blank">here</a>
                    for further discussion of other important considerations for measuring
                    disparities, including measures of total disparities rather than
                    between-group disparities.
                </p>
                
                <h3 class="text-uppercase">Reference Groups</h3>
                   
              
                <div class="lead">
                    Before describing how to calculate rate ratios and differences, we first
                    need to decide on a reference group, or group we compare another group (or
                    individual) to. The reference groups help us to establish a benchmark, with
                    which we compare, to determine whether a disparity exists. The reference
                    can also be a point rather than another group, for example the overall
                    COVID-19 rate/100,000 in the U.S.
                    <br/><br/>
                    Generally, we employ the most “well-off” or privileged group as the
                    reference group, as this group usually has a more favorable group rate (the
                    rate reflecting better health status or less risk). Examples of common
                    reference groups include non-Hispanic whites, men, the able bodied
                    population, U.S. born population, commercially insured people,
                    non-segregated neighborhoods, non-impoverished neighborhoods, etc. However,
                    decisions about the appropriate reference group should be based on theory
                    and reflect the historical and cultural context of the hypothesis tested.
                    For the following explanation, we’ll use non-Hispanic whites as our
                    reference group, and measure racial disparities in COVID-19 incidence rates
                    in Philadelphia.
                </div>
                <h3 class="text-uppercase">Rate Difference</h3>
                <div class="lead">
                    Rate differences, also known as risk or absolute differences, provide a
                    measure of the health impact of the disparity. A rate difference is
                    measured as the arithmetic difference between the rate of interest and the
                    reference group rate, expressed in the same units as the rates.
                </div>
                <div class="lead" style = "text-align: center; border-color: black; border-style:  solid; width: 80%;margin: auto; padding-top: 10px;padding-bottom: 10px;">
                    <strong>
                        Rate Difference = rate of interest–reference group rate
                        = <em>R<sub>i</sub></em> – <em>R<sub>r</sub></em>
                    </strong>
                </div>
                <br/>
                <div class="lead">
                    As an example, if the rate among non-Hispanic Blacks is 2,550 per 100,000
                    and the rate among non-Hispanic whites is 1,369, then the rate difference
                    equals the rate among Blacks minus the rate among whites, which equals
                    1,181 per 100,000, or a disparity of 1,181 per 100,000 deaths among
                    non-Hispanic Blacks compared to non-Hispanic whites.
                </div>
                <h3 class="text-uppercase">Rate Ratios</h3>
                <p class="lead">
                    Rate ratios, also known as risk ratios or relative differences, provide a
                    measure of the relative magnitude of the disparity. A rate ratio is
                    calculated by dividing the rate of interest by the reference rate.
                </p>

                <div class="lead" style = "text-align: center; border-color: black; border-style:  solid; width: 80%;margin: auto; padding-top: 10px;padding-bottom: 10px;">
                    <strong>
                        Rate ratio=rate of interest/reference group rate=                        <em>R<sub>i</sub></em> / <em>R<sub>r</sub></em>
                                            </strong>
                </div>
                <br/>
              
                <div class="lead">
                    By multiplying the rate ratio by 100, we can then convert the rate to a
                    percentage difference. A ratio of 1 indicates no disparity, ratio of &gt;1
                    indicates a disparity between the group of interest and reference group,
                    and ratio &lt;1 indicates higher rates in the reference group than the
                    group of interest.
                    <br/><br/>
                    Taking the same numbers as we used for the rate difference, the rate ratio
                    equals the rate among non-Hispanic Blacks (2,550/100,000) divided by the
                    rate among non-Hispanic whites (1,369/100,000), or 1.86. The case rate
                    among non-Hispanic rates is 1.86 times the rate among whites, or 86% higher
                    among Blacks than whites.
                    <br/><br/>
                    Large relative disparities can mask small absolute differences,
                    particularly when overall rates are low: for example, if the Black death
                    rate is 15/100,000 and non-Hispanic white rate is 5/100,000, the relative
                    disparity will show a Black rate 3 times that of the white rate, but only
                    an absolute difference of 10 deaths per 100,000 persons. To draw
                    conclusions about disparities and changes in disparities, it is therefore
                    best to measure both absolute and rate differences concurrently.
                </div>


            </section>

        </div>

      

    </div>
    <!-- /.row -->
</div>
